## Build and IDE temporary files
bin/
obj/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## Node & NPM
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

## OS generated
Thumbs.db
ehthumbs.db
Desktop.ini
.BIN/
.DS_Store

## Logs
*.log

## AI and Agents
.agents/
.agents
